
<p>Welcome!!</p>
<!-- <input type="button" (click)="printdata($event)" value="getusers"> -->


<a routerLink="/cardview">cardview</a>
<a routerLink="/listview">listview</a>
<router-outlet></router-outlet>

<!-- <app-cardview></app-cardview>
<app-listview></app-listview>    -->

<!-- <table boarder="1">
    <tr *nfFor="let user of users">
        <td>{{user.id}}<td>
            <td>{{user.name}}<td>
                <td>{{user.email}}<td>
                    <td>{{user.address}}<td>

        </td>
    </tr>
</table> -->
